# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints

# =========================
# PyTorch / Model files
# =========================
*.pt
*.pth
*.ckpt

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# MacOS
# =========================
.DS_Store

# =========================
# Windows
# =========================
Thumbs.db
desktop.ini

# =========================
# Environment variables
# =========================
.env